<!DOCTYPE html>
<html>

{{> header }}

<body>
    <div class="container mt-4">
        {{#if successMessage}}
        <div class="alert alert-success" role="alert">
            {{successMessage}}
        </div>
        {{/if}}
        {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        {{/if}}

        <a href="/dashboard">Back</a>
    </div>
</body>

</html>