<!DOCTYPE html>
<html>

{{> header }}

<body>
    <h2>Dashboard</h2>
    <h5>Logged!.</h5>
    <form action="/requestconfirmationemail" method="POST">
        <button type="submit" class="btn btn-primary">Solicitar Confirmación de Correo Electrónico</button>
    </form>
    <a href="/logout">Logout</a>
</body>

</html>