<!DOCTYPE html>
<html>

{{> header }}

<body>
    <div class="text-center">
        <div class="container">
            <h2>Dashboard</h2>
            <h5>Logged!.</h5>
            {{#unless confirmed}}
            <form action="/requestconfirmationemail" method="POST">
                <button type="submit" class="btn btn-primary">Solicitar Confirmación de Correo Electrónico</button>
            </form>
            {{/unless}}

            <form action="/2fa" method="post">
                <input type="hidden" name="enable2fa" value="true">
                <button type="submit">Activar 2FA</button>
            </form>

            <a href="/logout">Logout</a>
        </div>
    </div>
</body>

</html>