<!DOCTYPE html>
<html lang="en">
{{> header }}

<body>
    <div class="container">
        <div class="jumbotron text-center text-primary">
            <h2>Recover your password</h2>
            <div class="row justify-content-center">
                <div class="col-md-4 mt-4">
                    <form action="/requestpasswordrecovery" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="email" placeholder="Email" name="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary mb-xl-5" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>