<!DOCTYPE html>
<html lang="en">

{{> header }}

<body>
    <h2>Reset Password</h2>
    {{#if successMessage}}
    <div class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
    {{/if}}
    {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    {{/if}}
    <form action="/resetpassword/{{token}}" method="post">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword">
        <button type="submit">Reset Password</button>
    </form>
</body>

</html>